.section {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome {
    background-color: red;
}

.about {
    background-color: blue;
}

.projects {
    background-color: yellow;
}