.section {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section.home {
    display: flex !important;
    flex-direction: column;
}

.section.about {
    display: flex !important;
    flex-direction: column;
}

.section.projects {
    align-content: center;
}