:root {
    --navigation-height: 80vh;
    --navigation-pin: 32px;
}

.section {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section.home {
    display: flex !important;
    flex-direction: column;
}

.section.about {
    display: flex !important;
    flex-direction: column;
}

.section.projects {
    align-content: center;
}

.overlay {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none; /* Allow interaction with other elements underneath */
}

.overlay .cube {
    position: absolute;
}

.overlay .background-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.overlay .background-container .background-logo {
    height: 500px;
    opacity: 0.1;
    filter: blur(4px);
}