.play-button {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.play-button:hover {
    background-color: rgba(255, 80, 80, 1);
    transform: scale(1.05);
}

.play-button span {
    display: flex;
    align-items: center;
    gap: 8px;
}