.page-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Align children horizontally */
    align-items: center; /* Optionally align items vertically */
    flex-direction: column; /* Stack the children vertically */
}

.projects-scroll {
    width: 60%;
    margin: 0 auto; /* Horizontally center the container */
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for scaling and shadow */
}

.card:hover {
    transform: scale(1.05); /* Slightly increase the size of the card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.card-cover {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-meta {
    text-align: left;
    padding: 8px;
    background-color: var(--color-bg-container);
}

.card-meta h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.card-meta p {
    margin: 8px 0 0;
    color: var(--color-text);
}