.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-scroll {
    width: 90%; /* Default width for small screens */
    margin: 0 auto;
}

@media (min-width: 768px) {
    .projects-scroll {
        width: 70%; /* Medium screens, e.g., tablets */
    }
}

@media (min-width: 1024px) {
    .projects-scroll {
        width: 60%; /* Larger screens, e.g., desktops */
    }
}
